body {
  background-color: #121212;
}

h1 {
	font-family:08서울남산체;
	font-size:48px;
	text-align: center;
	color:white;

	margin-top: 230px;

	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input:focus {outline:none;}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#LOGIN_boxes {
	width: 220px;
  	margin: auto;

  	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#ID_input {
	border-color: #AAAAAA;
	border-width: 1px;
    background: #121212;
    padding: 10px; 
    width: 200px;
    height: 15px; 
    margin-bottom: 10px;

	font-family:08서울남산체;
	font-size:14px;
	text-align: left;
	color:white;
}

#PW_input{
	border-color: #AAAAAA;
	border-width: 1px;
    background: #121212;
    padding: 10px; 
    width: 200px;
    height: 15px; 

	font-family:08서울남산체;
	font-size:14px;
	text-align: left;
	color:white;
}